@media only screen and (min-width:300px) and (max-width:1080px) {

    .mainContent {
        width: 100%;
        position: relative;
        left: 0;
    }

    .section {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    /* .section p {
        font-size: 1.5rem;
    }

    #about h1 {
        font-size: 6.6rem;
    }

    #about h3 {
        font-size: 1.9rem;
    } */

    /* Menu */

    .sideNav {
        position: fixed;
        height: 100px;
        width: 100%;
        z-index: 1;
    }

    .sideNav img {
        display: none;
    }

    #menu-btn {
        display: block;
        font-size: 2.5rem;
        color: white;
        position: absolute;
        right: 35px;
        top: 25px;
    }

    #menu-mobile,
    #menu-btn {
        visibility: visible;
    }

    .menu-name {
        display: block;
        color: white;
        position: absolute;
        left: 20px;
        top: 35px;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 1.2px;
        font-size: 1.7rem;
    }

    #menu-desktop {
        display: none;
    }

    #menu-mobile {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        margin-top: 65px;
        padding: 0;
    }

    #menu-mobile a {
        display: block;
        color: white;
        padding: 20px 0;
        border-bottom: 1px solid #ffffff;
        background-color: #bb7171;
        font-size: 1.2 rem;
        letter-spacing: 2px;
        font-family: 'Roboto', sans-serif;
        font-weight: 200;
    }

    #menu-mobile a:hover {
        color: #d6a9a9;
    }

    /* Skills */

    /* #skills td {
        font-size: 1.5rem;
    } */

    /* Projects Section */

    #containerProjects {
        display: block;
    }

    #containerProjects img {
        margin-bottom: 50px;
    }

    .clickable {
        display: none;

    }





}