* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, p {
    font-size: 1.1em;
    color: #868e96;
}


h1,h2,h3 {
    font-family: 'Saira Extra Condensed', sans-serif;
    color: #495057;
    font-weight: 800;
    letter-spacing: 0.05rem;
}

h2 {
    font-size: 4.5rem;
    margin-top: 300px;
}

p {
    font-family: 'Montserrat', sans-serif;
}

hr {
    color: #868e96;
    margin: 30px 30px;
}

/* Side Nav */

.sideNav {
    width: 16.66%;
    background-color: #bb7171;
    text-align: center;
    position: fixed;
    height: 100%;
}

.sideNav img {
    border-radius: 100%;
    width: 180px;
    border: 10px solid #d6a9a9;
    margin-top: 250px;
    margin-bottom: 50px
}

.myLinks a {
    text-decoration: none;
    display: block;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
    color: #e3c6c6;
    font-family: 'Montserrat', sans-serif;
}

.myLinks a:hover {
    color: #ffffff;
    text-decoration: none;
}

/* Main Content */

.mainContent {
    width: 83.34%;  
    position: relative;
    left: 16.66%;
}

.container {
    display: flex; 
}

/* General section styles */
.highlight {
    font-weight: bold;
    color: #bb7171;

}

.section {
    width: 95%;
    margin: 30px 30px;
    padding: 20px 0;
    border-bottom: 1px solid #ffccff;
}

.section h2 {
    margin-bottom: 100px;
    margin-top:0px;
}

.section h3 {
    margin-bottom: 60px;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #bb7171;
}

.section p {
    font-size: 1.15rem;
    text-align: justify;
}


/* About Section */
#about {
    margin-top: 280px;
}

#about span {
    color: #bb7171;
}

#about h1 {
    font-size: 5.6rem;
    line-height: 5.5rem;
}


/* Skills section */

#skills td {
    line-height: 50px;
    font-size: 1.2rem;
}

#skills table {
    margin-bottom: 200px;
    border-collapse: collapse;
    width: 100%;
}

#skills span {
    color: #fdc57b;
}


/* Projects Section */

/* Contact Section */

#contact input, #contact textarea, #contact button {
    width: 70%;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.15rem;
    margin-bottom: 30px;
    border: 0;
    border-bottom: 1px solid #868e96;
}

#contact label {
    font-size: 1.5rem;

}

#contact input+label, #contact textarea+label {
    position: absolute;
    left: 20px;
    transition: transform 200ms ease;
  
    /* You have to use this to make it clickable through*/
    pointer-events: none;
}

#contact input:focus+label, #contact textarea:focus+label, 
#contact input+label.freeze, #contact textarea+label.freeze {
    transform: translateY(-1.2rem);
    color: #bb7171;
    font-size: 1rem;
}

#contact .form-group {
    position: relative;
    margin-bottom: 5px;
}

#contact textarea {
    height: 10rem;
}

#contact button {
    width: 100px;
    height: 60px;;
    border-radius: 39px;
    color: #ffffff;
    background-color: #d6a9a9;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    
}

#contact button:hover {
    background: #ddb8b8;
    text-decoration: none;
}

#contact input:focus, #contact textarea:focus{
    outline: none;
  }


.social-icon {
    font-size: 3.5rem;
    margin-top: 100px;
    margin-bottom: 190px;
    color: #495057;
}

.social-icon:hover {
    color: #bb7171;
}

.fa-github-square {
    margin-left: 5px;
}



/* Footer */

footer {
    margin: 50px 20px 20px 0;
    text-align: right;
    font-size: 0.8rem;
}

.footerSpan {
    color: red; 
    font-size: 1.2rem;
}